/*  your css code here. If applicable */
:root{
	background-color:rgb(135, 206, 235)
}
div :first-child{
	background-color:black;
	color:white;
}
div :nth-child(2){
	color:standard;
}
div :last-child{
		color:red;
	}
ul{
	background-color:grey;
	}
li:nth-child(odd){
background-color:white;
}
	
